.login-page {
  background-color: #7db43c;

  .login-box {
    background: #fff;
    padding: 80px;
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 500px;
  }

  .title-login {
    text-align: center;
  }
}
