#creatorElement {
  svd-pages-editor {
    display: none;
  }

  .svd_container {
    .svd_content {
      .svd_survey_designer {
        .svd_editors .svd_questions_editor {
          padding-top: 0;
        }
      }
    }
  }

  .svd-vertical-container {
    .svd-vertical-container__row {
      .svd-vertical-container__cell {
        .svd_commercial_container {
          display: none;
        }
      }
    }
  }

  .sv_header {
    &.svd_survey_header {
      display: none;
    }
  }

  #svd-survey-settings {
    display: none;
  }

  .svd-designer-tabbed-container__tab-header-container {
    .svd-designer-tabbed-container__tab-header {
      &:last-child {
        display: none
      }
    }
  }

  .svda-question-actions {
    .svda_question_action--separated {
      display: none;
    }

    .icon-actionshowtitle {
      display: none;
    }

    .icon-actionnotrequired {
      display: none !important;
    }
  }
}
